
*
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

body
{
    background: #d3c296 url(../image/bg/bg3.jpg);
    background-size: cover;font-family: 'Microsoft YaHei';
}

.logo
{
    text-align: center;
    padding: 80px 0 20px 0;
    -webkit-animation: 1s show;
    -moz-animation: 1s show;
    animation: 1s show;
}

.title
{
    line-height: 80px;
    height: 80px;
}

.content
{
    text-align: center;
    color: #FFF;
    margin: 0 auto;
    padding: 40px 0;
}

.input-box
{
    width: 260px;
    margin: 10px auto 0 auto;
}

    .input-box input
    {
        padding: 10px;
        font-size: 16px;
        width: 240px;
        border: none;
        background: no-repeat;
        outline: none;
        color: #666;
        background: #fff;
        background: rgba(255,255,255,.4);
        border-radius: 6px;
        transition: background-color .5s ease-in;
    }

.input-box input.focus
{
    background: rgba(255,255,255,.8);
    transition: background-color .2s ease-in;
}

.btn-box
{
    padding: 20px 0 20px 0;
    text-align: center;
}

#btnLogin
{
    height:24px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: block;
    border: 0;
    background: #4d90fe;
    background: rgba(77,144,254,.8);
    color: #FFF;
    word-spacing: 10px;
    font-size: 18px;
    
    width: 260px;
    margin: 0 auto;
    padding: 8px 0;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color .2s ease-in;
    box-shadow:0px 0px 3px 1px rgba(0,0,0,.1);
}
    #btnLogin:hover
    {
        background: rgb(77,144,254);
        transition: background-color .4s ease-in;
    }
    #btnLogin .load7
    {
        position:relative;top:-22px;
    }
.footer
{
    position: fixed;
    bottom: 5px;
    font-size: 14px;
    text-align: center;
    width: 100%;
    color: #CCC;
}

.bShow, .input-box
{
    position: relative;
    opacity: 1;
    bottom: 0;
    -webkit-animation: 1s bShow;
    -moz-animation: 1s bShow;
    animation: 1s bShow;
}
#tipBox
{
    display:none;
    background:#fff;
    background:rgba(255,255,255,.9);
    color:#888;
    position:absolute;
    width:100%;
    text-align:left;
    top:40px;
    left:0;
    z-index:10;
    border-radius: 6px;
    box-shadow:2px 2px 2px 1px rgba(0,0,0,.2);
}
    #tipBox li
    {
        padding:8px;
        background-image:url(../image/mail-icon.png);
        background-size:12px;
            background-repeat:no-repeat;
            background-position:239px center;
    }
#tipBox li#chosen
{
    color:#fff;
    background-color: #4d90fe;
    background-color: rgba(77,144,254,.8);
}
        #tipBox li.phone
        {
            background-image:url(../image/phone-icon.png);
            background-position:240px center;
            background-size:9px;
        }

.hideWarning
{
    height:0;
    -webkit-animation: 1s hHide;
    -moz-animation: 1s hHide;
    animation: 1s hHide;
}
.showWarning
{
    height:20px;
    -webkit-animation: 1s hShow;
    -moz-animation: 1s hShow;
    animation: 1s hShow;
}
.hideWarning, .showWarning
{
    overflow:hidden;
    color:#ff3f3f;
    color:rgba(255,63,63,.8);
    font-size:15px;
    text-shadow:0px 0px 3px rgba(0,0,0,.1);
    font-weight:bold;
    text-align:left;
    padding:5px 0;
}
@-webkit-keyframes show
{
    0%
    {
        opacity: 0.2;
    }

    100%
    {
        opacity: 1;
    }
}

@-moz-keyframes show
{
    0%
    {
        opacity: 0.2;
    }

    100%
    {
        opacity: 1;
    }
}

@keyframes show
{
    0%
    {
        opacity: 0.2;
    }

    100%
    {
        opacity: 1;
    }
}

@-webkit-keyframes bShow
{
    0%
    {
        opacity: 0.2;
        bottom: -40px;
    }

    100%
    {
        opacity: 1;
        bottom: 0;
    }
}

@-moz-keyframes bShow
{
    0%
    {
        opacity: 0.2;
        bottom: -40px;
    }

    100%
    {
        opacity: 1;
        bottom: 0;
    }
}

@keyframes bShow
{
    0%
    {
        opacity: 0.2;
        bottom: -40px;
    }

    100%
    {
        opacity: 1;
        bottom: 0;
    }
}
@-webkit-keyframes hShow
{
    0%
    {
        height: 0;
        opacity: 0;
    }

    100%
    {
        height: 20px;
        opacity: 1;
    }
}

@-moz-keyframes hShow
{
    0%
    {
        height: 0;
        opacity: 0;
    }

    100%
    {
        height: 20px;
        opacity: 1;
    }
}

@keyframes hShow
{
    0%
    {
        height: 0;
        opacity: 0;
    }

    100%
    {
        height: 20px;
        opacity: 1;
    }
}
@-webkit-keyframes hHide
{
    0%
    {
        height: 20px;
        opacity: 1;
    }

    100%
    {
        height: 0;
        opacity: 0;
    }
}

@-moz-keyframes hHide
{
    0%
    {
        height: 20px;
        opacity: 1;
    }

    100%
    {
        height: 0;
        opacity: 0;
    }
}

@keyframes hHide
{
    0%
    {
        height: 20px;
        opacity: 1;
    }

    100%
    {
        height: 0;
        opacity: 0;
    }
}